.header {
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;

  &__content {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: #fff;

    border: 2px dashed white;
  }
}
